.app {
  display: flex;                                                                            
  background-color: #f1f5f9;  
  height: 100%;
  min-height: 100vh;
  justify-content: center;
  padding: 2em;
}

.app-inner {                                                                          
  width: 760px;                                                                             
}                                                                                           
                                                                                            
.app-inner main {                                                                            
  position: relative;                                                                       
  padding: 20px;                                                                            
}                                                                                           
                                                                                            
.app small {                                                                           
  font-size: 1em;                                                                           
  color: #555;                                                                              
}                                                                                           
                                                                                            
.app h2 {                                                                              
  font-size: 1.2em;                                                                         
  text-align: left;                                                                         
  margin-bottom: 0.5em;                                                                     
  font-weight: 400;                                                                         
}       

a, a:hover {
  text-decoration: none;
}

.app-navigation {
  display: flex;
  margin-bottom: 1em; 
}

.app-navigation a { 
  outline: none;
  margin-right: 1em;
  font-weight: 300;
  color: #424770;
}

.app-navigation a:hover {
  color: #32325d;
}

.app-navigation a.selected {
  font-weight: 700;
  color: #3297d3
}

.app-navigation a.selected:hover,
.app-navigation a.selected:focus,
.app-navigation a.selected:active {
  font-weight: 700;
  color: #3297d3
}


section {                                                                                   
  display: flex;                                                                            
  flex-direction: column;                                                                   
  box-shadow: 0 2px 5px 0 rgba(49,49,93,.1), 0 1px 2px 0 rgba(0,0,0,.08);                   
  background-color: white;                                                                  
  transition: box-shadow .2s ease-in-out;                                                   
}                                                                                           
                                                                                            
section header {                                                                            
  display: flex;                                                                            
  justify-content: space-between;                                                           
  align-items: center;                                                                    
  padding: 0 20px;                                                                          
  border-bottom: 1px solid #e6ebf1;                                                         
}   

section header {                                                                            
  padding: 5px 20px;                                                                          
}

.streamlabs-settings {
  /*TODO:*/
}

/*Загрузка*/
.app-loader {                                                                               
  height: 100vh;                                                                            
  display: flex;                                                                            
  justify-content: center;                                                                  
  align-items: center;                                                                      
}
                                                                                            
.app-loader-logo {                                                                        
  width: 2.8em;                                                                           
  opacity: 0.5;                                                                           
}                                                                                         
                                                                                            
.app-loader-inner {                                                                       
  display: flex;                                                                          
  justify-content: center;                                                                
  align-items: center;                                                                    
  flex-direction: column;                                                                 
}                                                                                           
                                                                                            
.app-spinner {                                                                              
  padding-top: 1em;                                                                         
  color: #ccc;                                                                              
}                                                                                           
                                                                                            
.app-spinner > div {                                                                        
  width: 12px;                                                                              
  height: 12px;                                                                             
}    

/*Login*/

.login-form h2 {
  margin-bottom: 1em; 
}

.login-form small {
  margin-bottom: 2.5em; 
  font-size: 1em;
}

input[type="email"] {
  border: none;
  background-color: transparent;
  width: 260px;
  display: block;
  text-align: center;
  font-size: 14px;
  border-radius: 0;
  padding: 0;
  margin: 0 auto;
  height: 37px;
  line-height: 27px;
  max-width: 100%;
  outline: none;
  text-align: center;
  width: 260px;
  margin: auto;
  border-bottom: 1px solid #d8d8d8;
  transition: border-bottom-color 100ms ease-in, color 100ms ease-in;
  max-width: 100%;
}

input[type="email"]:hover, input[type="email"]:focus {
  border-bottom-color: #626262;
}

input[type="email"]::placeholder {
  color: #d8d8d8;
}

/*labels*/
.label-success {
  background-color: #5cb85c;
}


.label-warning {
  background-color: #f0ad4e;
}

.label {
  display: inline;
  padding: .3em .5em .3em;
  font-size: 85%;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.notification-link {
  min-height: 1.2em;
  min-width: 60%;
  padding: 6px 8px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
  overflow: visible;
}

.alertbox-settings .alertbox-link {
  display: flex;
}

.alertbox-settings .alertbox-link button {
  margin-left: 1em;
}

.avatar {
  display: flex;
  /*align-items: center;*/
}

.avatar h2 {
  margin: auto;
  margin-left: 1em;
}

.avatar img {
  width: 42px;
  height: 42px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
